<div class="search-container">

  <mat-form-field class="search-input" appearance="outline">
    <mat-label>País</mat-label>
    <input matInput placeholder="Escribe el país que deseas ver" [(ngModel)]="searchQuery" (focus)="toggleFilterContinent()" />
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="filter-continent" *ngIf="isFilterContinentVisible">
    <div class="header-filter">
      <p>Filtrar por continentes</p>
      <h1 (click)="clearFilter(); toggleFilterContinent()">Limpiar</h1>
    </div>
    <div class="continents">
      <div *ngFor="let continent of continents" class="continent-card"
        (click)="selectContinent(continent.name)">
        <div class="content-img-continent">
          <img [src]="continent.image" [alt]="continent.name" />
        </div>
        <p>{{ continent.name }}</p>
      </div>
    </div>
  </div>
</div>
